@media only screen and (max-width: 575px) and (min-width: 320px) { 
    /* --------- Home --------- */
    .home-section {
        height: 550px;
    }

    .home-content {
        padding: 60px 10px;
        text-align: center;
    }

    .home-content > h1 {
        font-size: 32px;
        line-height: 50px;
    }

    .home-content > p {
        font-size: 18px;
        line-height: 32px;
        padding: 10px 0px;
        letter-spacing: 0px;
    }



    /* --------- Book Start ------ */
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .book {
        padding: 80px 0px 80px 0px;
    }

    form#myForm {
        width: 100%;
        margin: 0px 15px;
    }

    .book .input {
        padding: 20px 30px 20px 30px;
    }

    .book .search {
        padding: 0px;
        margin: 0px;
    }

    .book .search input {
        font-size: 22px !important;
        margin-top: 0px !important;
    }



    /* --------- About Start ------- */
    .about-section{
        padding: 0px 0px 40px 0px;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
    }

    img.about-img-01 {
        width: 100%;
        height: auto;
    }

    img.about-img-02 {
        position: static;
        right: 0px;
        top: 0px;
        margin-top: 30px;
        width: 100%;
        height: auto;
    }

    .about-description {
        width: 100%;
        margin-top: 10px;
    }

    .about-description > h2 {
        font-size: 36px;
    }



    /* ------------ Accommodations Start ------------ */
    .accommodations-section {
        padding: 40px 0px;
    }

    .accommodations-content {
        margin: 0px 24px;
    }
    
    .accommodations-card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-top: 60px;
        flex-direction: column;
    }
    .section-title > h2 {
        font-size: 36px;
    }



    /* ----------- Restaurant Start ------- */
    .restaurant-content-01 {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }

    .restaurant-card-01 > img {
        width: 100%;
        height: auto;
        margin-top: -180px;
    }

    .restaurant-card-02 {
        width: 100%;
        padding: 0px 15px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .restaurant-content-02 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .restaurant-card-04 > img {
        width: 100%;
        height: auto;
        margin-top: 65px;
        padding: 0px 15px;
    }

    .restaurant-card-03 {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
        padding: 0px 15px;
    }

    .restaurant-bg {
        height: 1105px;
        margin: 240px 0px 0px 0px;
    }

    .restaurant-description > h2 {
        font-size: 36px;
    }


    
    /* -------------- Facilities Start ------------- */
    .facilities-card {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .facilities-card-02 {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .facilities-section {
        padding: 680px 0px 50px 0px;
    }

    .facilities-img > img {
        width: 100%;
        height: auto;
    }

    .facilities-section {
        padding: 650px 0px 50px 0px;
    }

    .facilities-description {
        padding: 50px 15px;
    }



    /* ---------------- Review ---------- */
    .review-section {
        padding: 40px 0px 100px 0px;
    }

    .review-card {
        display: flex;
        margin-top: 30px;
        margin-left: 5px;
        flex-direction: column;
        margin-right: 15px;
    }

    .review-img > img {
        width: 100%;
    }

    .review-title > h2 {
        font-size: 36px;
        margin: 15px 0px;
        padding: 50px 15px 0px 15px;
        width: 100%;
        line-height: 50px;
    }

    .review-bg {
        height: 350px;
    }

    .review-description > p {
        margin: 15px 10px 0px 10px;
    }

    .review-description > h3 {
        margin: 30px 10px 5px 10px;
    }

    .review-description > h4 {
        margin: 0px 10px 35px 10px;
    }

    .review-description ul {
        margin: 0px 0px 5px -25px;
    }

    .review-description {
        padding: 40px 0px 0px 0px;
    }



    /* ---------- Footer Start -------- */
    .footer {
        padding: 35px 0px 25px 0px;
        background: #000000;
        margin-top: 580px;
    }

}



@media only screen and (max-width: 868px) and (min-width: 576px) {
    /* -------- Home Start -------- */
    .home-content {
        padding: 100px 10px;
    }

    .home-content > h1 {
        font-size: 65px;
        line-height: 80px;
    }

    .home-content > p {
        padding: 15px 40px;
    }



    /* --------- Book Start ------ */
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .book {
        padding: 80px 0px 40px 0px;
    }

    form#myForm {
        width: 100%;
        margin: 0px 15px;
    }

    .book .input {
        padding: 20px 30px 20px 30px;
    }

    .book .search {
        padding: 0px;
        margin: 0px;
    }

    .book .search input {
        font-size: 22px !important;
        margin-top: 0px !important;
    }

    
    /* --------- About Start ------- */
    .about-section {
        padding: 40px 0px 40px 0px;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
    }

    img.about-img-02 {
        right: 0px;
    }

    .about-description {
        width: 100%;
        margin-top: 80px;
    }

    .about-description > h2 {
        font-size: 50px;
    }



    /* --------------- Accommodations Start --------------- */
    .accommodations-card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-top: 80px;
        flex-direction: column;
    }
    .accommodations-section {
        padding: 40px 0px 80px 0px;
    }
    

    /* ----------- Restaurant Start ------- */
    .restaurant-content-01 {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }

    .restaurant-card-01 > img {
        width: 100%;
        height: auto;
        margin-top: -180px;
    }

    .restaurant-card-02 {
        width: 100%;
        margin-right: 0px;
        margin: 30px 0px;
        padding: 0px 34px;
    }

    .restaurant-content-02 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column-reverse;
    }

    .restaurant-card-04 > img {
        width: 100%;
        height: auto;
        margin-top: 65px;
        padding: 0px 34px;
    }

    .restaurant-card-03 {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
        padding: 0px 34px;
    }

    .restaurant-bg {
        height: 1500px;
        margin: 240px 0px 0px 0px;
    }


    /* -------------- Facilities Start ------------- */
    .facilities-card {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .facilities-card-02 {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .facilities-img > img {
        width: 100%;
        height: auto;
    }

    .facilities-section {
        padding: 900px 0px 50px 0px;
    }
    


    /* ---------------- Review ---------- */
    .review-section {
        padding: 40px 0px 100px 0px;
    }

    .review-card {
        display: flex;
        margin-top: 30px;
        margin-left: 0px;
        flex-direction: column;
        margin-right: 34px;
    }

    .review-img > img {
        width: 100%;
    }

    .review-title > h2 {
        font-size: 36px;
        margin: 15px 0px;
        padding: 50px 15px 0px 15px;
        width: 100%;
        line-height: 58px;
    }

    .review-bg {
        height: 250px;
    }

    .review-description > p {
        margin: 15px 10px 0px 10px;
    }

    .review-description > h3 {
        margin: 30px 10px 5px 10px;
    }

    .review-description > h4 {
        margin: 0px 10px 40px 10px;
    }

    .review-description ul {
        margin: 0px 0px 5px -25px;
    }

    .review-description {
        padding: 40px 0px 0px 0px;
    }

    /* ---------- Footer Start -------- */
    .footer {
        padding: 35px 0px 25px 0px;
        background: #000000;
        margin-top: 730px;
    }

    .modal-lg, .modal-xl {
        --bs-modal-width: 680px !important;
        border-radius: none !important;
    }
}



@media only screen and (max-width: 1200px) and (min-width: 869px) {
    /* --------- Home Start -------- */
    .home-content {
        padding: 100px 40px;
        text-align: center;
    }
	
	.home-content > h1 {
		font-size: 64px;
	}


    /* --------- About Start ------- */
    img.about-img-01 {
        width: 400px;
        height: auto;
    }

    img.about-img-02 {
        position: absolute;
        right: -45px;
        top: 253px;
        height: 420px;
        width: 300px;
    }

    .about-description {
        width: 100%;
        margin-top: 40px;
    }

    .about-description > h2 {
        font-size: 50px;
    }



    /* --------------- Restaurant ----------- */
    .restaurant-card-01 > img {
        width: 480px;
        height: auto;
    }

    .restaurant-card-04 > img {
        width: 500px;
        height: auto;
        margin-top: -130px;
    }

    .restaurant-bg {
        height: 650px;
    }

    .restaurant-card-03 {
        margin-left: 50px;
        margin-top: 220px;
    }

    .restaurant-card-02 {
        margin-right: 30px;
        width: 100%;
    }

    .restaurant-content-01 {
        gap: 40px;
    }

    .restaurant-content-02 {
        gap: 40px;
    }



    /* ------------- Facilities Start ------------- */
    .facilities-description {
        padding: 34px 10px;
    }

    .facilities-img > img {
        width: 468px;
    }

    .facilities-description > h2 {
        font-size: 32px;
        margin: 8px 0px;
    }



    /* ----------- Review Start ---------------- */
    .review-card {
        margin-top: -150px;
        z-index: 1;
        margin-left: 40px;
    }

    .review-img > img {
        width: 400px;
    }

    .review-description {
        padding: 30px 0px 0px 0px;
    }

    .review-description > p {
        line-height: 30px;
        margin: 30px 40px 20px 40px;
    }

    .review-description > h3 {
        margin: 24px 40px 5px 40px;
    }



    /* ------------ Footer ----------- */
    .footer {
        padding: 35px 0px 25px 0px;
        background: #000000;
        margin-top: 120px;
    }
} 



@media only screen and (max-width: 1300px) and (min-width: 1201px) {
    .about-description {
        width: 500px;
        margin-top: 40px;
    }
}



@media only screen and (max-width: 1500px) and (min-width: 1400px) {
    .about-description {
        width: 530px;
        margin-top: 40px;
    }

    img.about-img-01 {
        width: 500px;
        height: auto;
    }

    img.about-img-02 {
        right: -165px;
        top: 280px;
        height: 420px;
        width: 350px;
    }

    .facilities-img > img {
        width: 648px;
    }
}



@media only screen and (min-width: 1500px) {
    .facilities-img > img {
        width: 648px;
    }

    .review-description > p {
        margin: 40px 280px 20px 40px;
    }
}


@media only screen and (max-width: 375px) and (min-width: 300px) { 
    .facilities-section {
        padding: 730px 0px 50px 0px;
    }
}